appdirs==1.4.0
certifi==2019.3.9
chardet==3.0.4
Django==2.1.15
django-debug-toolbar==1.11.1
idna==2.8
mysqlclient==1.4.6
Naked==0.1.31
packaging==16.8
pycrypto==2.6.1
pyparsing==2.1.10
pytz==2019.1
PyYAML==5.4
requests==2.22.0
shellescape==3.4.1
six==1.10.0
sqlparse==0.2.0
urllib3==1.26.5
