$font-root: '../fonts/'

@font-face
  font-family: 'body'
  src: url('#{$font-root}body.eot?#iefix') format('embedded-opentype'), url('#{$font-root}body.woff') format('woff'), url('#{$font-root}body.ttf') format('truetype'), url('#{$font-root}body.svg#Body') format('svg')
  font-weight: normal
  font-style: normal
