@mixin type($font-size, $line-height)
  font-size: $font-size
  line-height: $line-height

@mixin link-underline($color)
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba($color ,0.6) 50%)

@mixin link($default-color, $hover-color)
  text-decoration: none
  background-repeat: repeat-x
  background-size: 2px 2px
  background-position: 0 92%

  &,
  &:visited
    color: $default-color
    @include link-underline($default-color)

  .no-touchevents &
    &:hover,
    &:active
      color: $hover-color
      @include link-underline($hover-color)

@mixin no-link
  text-decoration: none
  background-image: none

@mixin bare-button
  padding: 0
  margin: 0
  background: none
  border: none
  font-size: inherit
  font-family: inherit
  outline: none

@mixin center
  position: relative
  left: 50%
  @include transform(translateX(-50%))

@mixin mobile
  @media (max-width: 500px)
    @content

@mixin desktop
  @media (min-width: 500px)
    @content
