.page-recipe
  &-content
    margin-top: 50px
    @include center
    max-width: 600px

    &-title
      position: relative
      display: block
      width: 100%
      padding-bottom: 20px
      margin-bottom: 40px
      text-align: center
      border-bottom: 1px solid $brown

      $dot-size: 8px
      $dot-border-size: 6px
      $dot-size-total: $dot-size + $dot-border-size * 2

      &:after
        content: ""
        display: block
        position: absolute
        bottom: $dot-size-total * -0.5 - 1
        left: 50%
        margin-left: $dot-size-total * -0.5
        width: $dot-size
        height: $dot-size
        border-radius: 50%
        background: $tan
        border: $dot-border-size solid $purple

    &-steps
      @include type(25px, 36px)

      @include mobile
        @include type(20px, 28px)

  $q-color: $pink
  $q-form-color: lighten($tan, 10%)
  $q-br: 4px
  .quantity
    position: relative
    width: 230px
    height: 60px
    margin-top: 6px
    border-radius: $q-br

    @include mobile
      width: 100%

    &-button,
    &-input
      @include bare-button
      height: 100%
      font-size: 28px

    &-button
      position: absolute
      top: 0
      width: 30%
      background: $q-color
      color: $q-form-color
      @include transition(background 75ms linear)

      @include mobile
        width: 17%

      &:active
        background: darken($q-color, 5%)

      &-text
        position: relative
        bottom: 2px

      &--decrement
        left: 0
        @include border-left-radius($q-br)

      &--increment
        right: 0
        @include border-right-radius($q-br)

    &-input
      width: 100%
      border: none
      outline: none
      text-align: center
      background: $q-form-color
      border-radius: $q-br + 1
      font-family: body-light
      color: $q-color
