@include keyframes(highlight)
  0%
    border-color: $pink

  100%
    border-color: rgba($pink, 0)

.page-recipe
  &-content
    margin: 60px 0
    @include center
    max-width: 600px

    @include mobile
      margin: 40px 0

  &-title
    position: relative
    display: block
    width: 100%
    padding-bottom: 0
    font-family: body-light
    text-align: center

  &-source
    display: block
    width: 100%
    text-align: center
    font-size: 18px

    @include mobile
      font-size: 16px

    &-link
      font-style: oblique

  &-separator
    position: relative
    width: 100%
    margin-top: 53px
    margin-bottom: 78px
    border-bottom: 1px solid lighten($purple, 10%)

    &:after
      content: ""
      display: block
      @include center
      position: absolute
      bottom: -19px
      width: 93px
      height: 50px
      background-color: $purple
      border-right: 15px solid $purple
      border-left: 15px solid $purple
      @include icon("witness")

    @include mobile
      border: 0
      margin-bottom: 88px

      &:after
        width: 70px

  &-steps
    @include type(25px, 38px)

    &.uninitialized
      opacity: 0

    @include mobile
      @include type(20px, 30px)

  .step
    &-amount
      position: relative

      &:before
        content: ""
        position: absolute
        display: block
        top: -5px
        right: -4px
        bottom: -1px
        left: -3px
        border-radius: 3px
        border: 1px solid rgba($pink, 0)
        @include transition(border-color 400ms linear)

      &.highlight
        &:before
          @include animation(highlight 400ms linear)

  &-row
    margin-top: 30px

  &-directions
    position: relative
    bottom: 3px
    @include type(22px, 34px)

    @include mobile
      @include type(18px, 26px)


  $q-color: $brown
  $q-form-color: $tan
  $q-text-color: $purple
  $q-br: 4px
  $desktop-width: 130px
  $desktop-height: 40px
  $mobile-height: 50px

  .quantity
    position: relative
    display: inline-block
    border-radius: $q-br
    @include quantity-size($width: $desktop-width, $height: $desktop-height, $font-size: 22px, $line-height: 44px)

    @include mobile
      @include quantity-size($width: 160px, $height: $mobile-height, $font-size: 26px, $line-height: 57px)

    &-screen
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    &-button,
    &-input
      @include bare-button
      cursor: pointer
      height: 100%

    &-button
      position: absolute
      top: 0
      background: $q-color
      color: $q-text-color
      @include transition(background 75ms linear)

      &:active
        background: darken($q-color, 5%)

      &-text
        position: relative
        bottom: 2px

      &--decrement
        left: 0
        @include border-left-radius($q-br)

      &--increment
        right: 0
        @include border-right-radius($q-br)

    &-input
      float: left // fixes weird quirk for the next line
      width: 100%
      outline: none
      text-align: center
      background: $q-form-color
      border-radius: $q-br + 1
      font-family: body-light
      color: $q-text-color

  &-glass
    &-icon
      display: inline-block
      width: $desktop-height
      height: $desktop-height

      @include mobile
        width: $mobile-height
        height: $mobile-height

    $glasses: cocktail collins flute martini rocks snifter

    @each $glass in $glasses
      .glass-#{$glass}
        background-position: center center
        @include icon("glass-#{$glass}")

        @if $glass == "rocks"
          @include transform(scale(0.85))

        @if $glass == "cocktail"
          @include transform(scale(0.9))


  // layout for bottom section, quantity and glass
  // ---------------------------------------------

  .quantity-wrapper,
  &-glass
    float: left
    text-align: center

  .quantity-wrapper
    width: $desktop-width
    margin-right: 3%

    @include mobile
      width: 60%
      margin-right: 3%

  &-glass
    width: 180px

    @include mobile
      width: 37%

  &-label
    display: block
    width: 100%
    font-size: 18px

    @include mobile
      font-size: 16px
