// variables
///////////////////////////////////////////////////////////////////////////////

$purple: #4a3d4c
$pink: #8a504d
$brown: #b57226
$tan: #bf9f6b


// global includes
///////////////////////////////////////////////////////////////////////////////

@import "vendor/bourbon/bourbon"
@import "vendor/reset.css"
@import "fonts"
@import "mixins"
@import "svg-images"
@import "navigation"


// general styles
///////////////////////////////////////////////////////////////////////////////

*
  box-sizing: border-box

body
  background: $purple
  padding: 20px
  color: $tan
  font-family: "body-light", helvetica neue, helvetica, arial, sans serif
  @include type(20px, 26px)

  @include mobile
    @include type(18px, 26px)

a
  @include link($tan, darken($tan, 10%))

h1,
h2,
h3,
h4
  font-family: "body"

h1
  @include type(33px, 42px)

  a
    @include no-link

h2
  @include type(28px, 36px)
  padding-bottom: 26px

.page
  @include center
  width: 100%
  max-width: 800px

  &-header,
  &-content
    position: relative
    @include clearfix
    display: block
    width: 100%

  &-header
    margin-bottom: 40px

    @include mobile
      padding-bottom: 11px
      border-bottom: 1px solid lighten($purple, 7%)

    &-title
      float: left

.page-header-search
  float: right

  @include mobile
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: none

    .hasSearch &
      display: block

  // hide the django form error; instead, I'm handling it in the template
  .errorlist
    display: none

  input[type=text]
    width: 200px
    padding: 8px
    font-size: 14px
    border-radius: 2px
    border: 0
    opacity: 0.3

    @include mobile
      width: 100%
      opacity: 1

    .no-touchevents &
      @include transition(opacity 75ms linear)

      &:focus,
      &:hover
        opacity: 1
        outline: none

    .touchevents &
      opacity: 1

  button[type=submit]
    display: none

.page-header-search-icon
  @include bare-button
  position: absolute
  top: -4px
  right: -10px
  display: block
  width: 50px
  height: 50px
  text-align: center

  &-image
    @include icon("search")
    display: inline-block
    width: 20px
    height: 20px

  @include desktop
    display: none


// pages
///////////////////////////////////////////////////////////////////////////////

@import "page-index"
@import "page-search"
@import "page-recipe"
