@import url(reset.css);
@font-face {
  font-family: "body";
  src: url("../fonts/body.eot?#iefix") format("embedded-opentype"), url("../fonts/body.woff") format("woff"), url("../fonts/body.ttf") format("truetype"), url("../fonts/body.svg#body") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "body-light";
  src: url("../fonts/body-light.eot?#iefix") format("embedded-opentype"), url("../fonts/body-light.woff") format("woff"), url("../fonts/body-light.ttf") format("truetype"), url("../fonts/body-light.svg#body-light") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  background: #4a3d4c;
  padding: 20px;
  color: #bf9f6b;
  font-family: "body-light", helvetica neue, helvetica, arial, sans serif;
  font-size: 20px;
  line-height: 26px; }

a {
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 92%; }
  a, a:visited {
    color: #bf9f6b;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(191, 159, 107, 0.6) 50%); }
  .no-touchevents a:hover, .no-touchevents a:active {
    color: #ac874b;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(172, 135, 75, 0.6) 50%); }

h1,
h2,
h3,
h4 {
  font-family: "body"; }

h1 {
  font-size: 33px;
  line-height: 42px; }
  h1 a {
    text-decoration: none;
    background-image: none; }

h2 {
  font-size: 28px;
  padding-bottom: 26px; }

.page {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px; }
  .page-header, .page-content {
    position: relative;
    display: block;
    width: 100%; }
    .page-header::after, .page-content::after {
      clear: both;
      content: "";
      display: table; }
  .page-header {
    margin-bottom: 40px; }
    @media (max-width: 500px) {
      .page-header {
        padding-bottom: 8px;
        border-bottom: 1px solid #5d4d60; } }
    .page-header-title {
      float: left; }

.page-header-search {
  float: right; }
  @media (max-width: 500px) {
    .page-header-search {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: none; }
      .has-search .page-header-search {
        display: block; } }
  .page-header-search input[type=text] {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    opacity: 0.3; }
    @media (max-width: 500px) {
      .page-header-search input[type=text] {
        width: 100%;
        opacity: 1; } }
    .no-touchevents .page-header-search input[type=text] {
      -webkit-transition: opacity 75ms linear;
      -moz-transition: opacity 75ms linear;
      transition: opacity 75ms linear; }
      .no-touchevents .page-header-search input[type=text]:focus, .no-touchevents .page-header-search input[type=text]:hover {
        opacity: 1;
        outline: none; }
    .touchevents .page-header-search input[type=text] {
      opacity: 1; }
  .page-header-search button[type=submit] {
    display: none; }

.page-header-search-icon {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  position: absolute;
  top: -4px;
  right: -10px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center; }
  .page-header-search-icon-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlPnNlYXJjaDwvdGl0bGU+PGRlZnM+PGNpcmNsZSBpZD0iYSIgY3g9IjEwLjUiIGN5PSIxMC41IiByPSIxMC41Ii8+PG1hc2sgaWQ9ImIiIHg9IjAiIHk9IjAiIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48L2RlZnM+PGcgc3Ryb2tlPSIjQkY5RjZCIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjx1c2UgbWFzaz0idXJsKCNiKSIgc3Ryb2tlLXdpZHRoPSI2IiB4bGluazpocmVmPSIjYSIvPjxwYXRoIGQ9Ik0xNyAxOGwxMS41IDEwLjUiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9nPjwvc3ZnPg==);
    display: inline-block;
    width: 20px;
    height: 20px; }
  @media (min-width: 500px) {
    .page-header-search-icon {
      display: none; } }

.page-search-results {
  margin-bottom: 40px; }

.page-recipe-content {
  margin-top: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 600px; }
  .page-recipe-content-title {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #b57226; }
    .page-recipe-content-title:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -11px;
      left: 50%;
      margin-left: -10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #bf9f6b;
      border: 6px solid #4a3d4c; }
  .page-recipe-content-steps {
    font-size: 25px;
    line-height: 36px; }
    @media (max-width: 500px) {
      .page-recipe-content-steps {
        font-size: 20px;
        line-height: 28px; } }
.page-recipe .quantity {
  position: relative;
  width: 230px;
  height: 60px;
  margin-top: 6px;
  border-radius: 4px; }
  @media (max-width: 500px) {
    .page-recipe .quantity {
      width: 100%; } }
  .page-recipe .quantity-button, .page-recipe .quantity-input {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    height: 100%;
    font-size: 28px; }
  .page-recipe .quantity-button {
    position: absolute;
    top: 0;
    width: 30%;
    background: #8a504d;
    color: #ceb68f;
    -webkit-transition: background 75ms linear;
    -moz-transition: background 75ms linear;
    transition: background 75ms linear; }
    @media (max-width: 500px) {
      .page-recipe .quantity-button {
        width: 17%; } }
    .page-recipe .quantity-button:active {
      background: #7a4744; }
    .page-recipe .quantity-button-text {
      position: relative;
      bottom: 2px; }
    .page-recipe .quantity-button--decrement {
      left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .page-recipe .quantity-button--increment {
      right: 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
  .page-recipe .quantity-input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    background: #ceb68f;
    border-radius: 5px;
    font-family: body-light;
    color: #8a504d; }
