@import "svg_images/search"
@import "svg_images/witness"
@import "svg_images/glass_coupe"
@import "svg_images/glass_collins"
@import "svg_images/glass_flute"
@import "svg_images/glass_martini"
@import "svg_images/glass_rocks"
@import "svg_images/glass_snifter"
@import "svg_images/glass_mug"
@import "svg_images/glass_tiki"
@import "svg_images/glass_pilsner"
@import "svg_images/glass_nicknora"
@import "svg_images/glass_coconut"
@import "svg_images/glass_julep"
@import "svg_images/glass_pineapple"
@import "svg_images/menu_ingredients"
@import "svg_images/menu_recipes"
@import "svg_images/menu_search"
@import "svg_images/menu_sources"

@mixin icon($name)
  background-size: contain
  background-repeat: no-repeat

  @if $name == "search"
    background-image: $search

  @if $name == "witness"
    background-image: $witness

  @if $name == "glass-coupe"
    background-image: $glass-coupe

  @if $name == "glass-collins"
    background-image: $glass-collins

  @if $name == "glass-flute"
    background-image: $glass-flute

  @if $name == "glass-martini"
    background-image: $glass-martini

  @if $name == "glass-rocks"
    background-image: $glass-rocks

  @if $name == "glass-mug"
    background-image: $glass-mug

  @if $name == "glass-snifter"
    background-image: $glass-snifter

  @if $name == "glass-tiki"
    background-image: $glass-tiki

  @if $name == "glass-pilsner"
    background-image: $glass-pilsner

  @if $name == "glass-nicknora"
    background-image: $glass-nicknora

  @if $name == "glass-coconut"
    background-image: $glass-coconut

  @if $name == "glass-julep"
    background-image: $glass-julep

  @if $name == "glass-pineapple"
    background-image: $glass-pineapple

  @if $name == "menu-ingredients-off"
    background-image: $menu-ingredients-off

  @if $name == "menu-ingredients-on"
    background-image: $menu-ingredients-on

  @if $name == "menu-recipes-off"
    background-image: $menu-recipes-off

  @if $name == "menu-recipes-on"
    background-image: $menu-recipes-on

  @if $name == "menu-search-off"
    background-image: $menu-search-off

  @if $name == "menu-search-on"
    background-image: $menu-search-on

  @if $name == "menu-sources-off"
    background-image: $menu-sources-off

  @if $name == "menu-sources-on"
    background-image: $menu-sources-on
