@import "svg_images/search"
@import "svg_images/witness"
@import "svg_images/glass_cocktail"
@import "svg_images/glass_collins"
@import "svg_images/glass_flute"
@import "svg_images/glass_martini"
@import "svg_images/glass_rocks"
@import "svg_images/glass_snifter"

@mixin icon($name)
  background-size: contain
  background-repeat: no-repeat

  @if $name == "search"
    background-image: $search

  @if $name == "witness"
    background-image: $witness

  @if $name == "glass-cocktail"
    background-image: $glass-cocktail

  @if $name == "glass-collins"
    background-image: $glass-collins

  @if $name == "glass-flute"
    background-image: $glass-flute

  @if $name == "glass-martini"
    background-image: $glass-martini

  @if $name == "glass-rocks"
    background-image: $glass-rocks

  @if $name == "glass-snifter"
    background-image: $glass-snifter
