<li class="step">

	{% if not step.is_zero %}
		<span
			class="step-amount"
			data-original-amount-num="{{ step.amount_num }}"
			data-original-amount-den="{{ step.amount_den }}"
		>
		</span>
	{% endif %}

	{% if step.unit.name == "leaf" %}
		<span class="step-ingredient">
			{{ step.ingredient.name }}
		</span>
	{% endif %}

	{% if step.unit and not step.is_zero %}
		<span
				class="step-unit"
				data-unit-singular="{{ step.unit.name }}"
				data-unit-plural="{{ step.unit.plural }}">
			{% if step.is_over_one %}
				{{ step.unit.plural }}
			{% else %}
				{{ step.unit.name }}
			{% endif %}
		</span>
	{% endif %}

	{% if step.unit.name != "leaf" %}
		<span class="step-ingredient">
			{{ step.ingredient.name }}
		</span>
	{% endif %}

	{% if step.is_zero and step.is_rinse %}
		<span class="step-unit">
			{{ step.unit.name }}
		</span>
	{% endif %}

</li>
