{% load recipe_extras %}

<li class="step">

	{% if step.amount_num %}
		<span
			class="step-amount"
			data-original-amount-num="{{ step.amount_num }}"
			data-original-amount-den="{{ step.amount_den }}"
		>
		</span>
	{% endif %}

	{% if step.unit and step.amount_num %}
		<span
				class="step-unit"
				data-unit-singular="{{ step.unit.name }}"
				data-unit-plural="{{ step.unit.plural }}">
			{% if step.amount > 1 %}
				{{ step.unit.plural }}
			{% else %}
				{{ step.unit.name }}
			{% endif %}
		</span>
	{% endif %}

	<span class="step-ingredient">
		{{ step.ingredient }}
	</span>

	{% if not step.amount_num and step.unit.name == "rinse" %}
		<span class="step-unit">
			{{ step.unit.name }}
		</span>
	{% endif %}

</li>
