<script>
	(function(document, navigator, standalone) {
		// prevents links from apps from oppening in mobile safari when in
		// standalone mode
		if ((standalone in navigator) && navigator[standalone]) {
			// add a class to the body
			document.getElementsByTagName("body").className += "standalone";

			var curnode, location=document.location, stop=/^(a|html)$/i;
			document.addEventListener('click', function(e) {
				curnode = e.target;

				while (!(stop).test(curnode.nodeName)) {
					curnode=curnode.parentNode;
				}

				// only apply to links in this app
				if ('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
					e.preventDefault();
					location.href = curnode.href;
				}
			},false);
		}
	})(document, window.navigator, 'standalone');
</script>
