<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="shortcut icon" href="http://michaelgeraci.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
	</head>
	<body class="page-{% block bodyclass %}{% endblock %}">

		<h1>
			<a href="/">Cocktails</a>
		</h1>

		{% block content %}{% endblock %}

		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	</body>
</html>
