{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>

		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="mobile-web-app-capable" content="yes">

		{% for size in apple_touch_icon_sizes %}
			{% with src='images/apple-touch-icon-'|add:size|add:'.png' %}
				<link rel="apple-touch-icon"
					 sizes="{{ size }}x{{ size }}"
					 href="{% static src %}">
			{% endwith %}
		{% endfor %}

		{% include "_startup_images.html" %}

		{% include "_standalone_navigation.html" %}

		<link rel="shortcut icon" href="http://michaelgeraci.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	</head>
	<body class="page-{% block bodyclass %}{% endblock %}">

		<div class="page">
			<header class="page-header">
				<h1 class="page-header-title">
					<a href="/">Cocktails</a>
				</h1>

				<button class="page-header-search-icon">
					<span class="page-header-search-icon-image"></span>
				</button>
				<form class="page-header-search" action="/search" method="get">
					{{ search_form }}
					<button type="submit">Submit</button>
				</form>
			</header>

			<section class="page-content">
				{% block content %}{% endblock %}
			</section>
		</div>

		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	</body>
</html>
