<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>

		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<script>
			(function(document, navigator, standalone) {
				// prevents links from apps from oppening in mobile safari
				// this javascript must be the first script in your <head>
				if ((standalone in navigator) && navigator[standalone]) {
					var curnode, location=document.location, stop=/^(a|html)$/i;
					document.addEventListener('click', function(e) {
						curnode=e.target;
						while (!(stop).test(curnode.nodeName)) {
							curnode=curnode.parentNode;
						}
						// Conditions to do this only on links to your own app
						// if you want all links, use if('href' in curnode) instead.
						if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
							e.preventDefault();
							location.href = curnode.href;
						}
					},false);
				}
			})(document, window.navigator, 'standalone');
		</script>

		<link rel="shortcut icon" href="http://michaelgeraci.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
	</head>
	<body class="page-{% block bodyclass %}{% endblock %}">

		<div class="page">
			<header class="page-header">
				<h1 class="page-header-title">
					<a href="/">Cocktails</a>
				</h1>

				<button class="page-header-search-icon">
					<span class="page-header-search-icon-image"></span>
				</button>
				<form class="page-header-search" action="/search" method="get">
					{{ search_form }}
					<button type="submit">Submit</button>
				</form>
			</header>

			<section class="page-content">
				{% block content %}{% endblock %}
			</section>
		</div>

		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	</body>
</html>
