{% extends 'base.html' %}
{% block title %}Cocktails{% endblock %}
{% block bodyclass %}index{% endblock %}

{% block content %}

<h1>Cocktails</h1>

<h2>Search</h2>

<form action="/search" method="get">
	<p>{{ search_form.as_p }}</p>
	<button type="submit">Submit</button>
</form>

<br />
<br />

<h2>Recipes</h2>

{% for recipe in recipes %}
	<a href="{% url 'recipe_url' recipe.slug %}">
		{{ recipe.name }}
	</a>
	<br />
{% endfor %}

<br />
<br />

<h2>Ingredient Categories</h2>

{% for category in categories %}
	<a href="{% url 'ingredient_category' category.slug %}">
		{{ category.name }}
	</a>
	<br />
{% endfor %}

{% endblock %}
