{% extends 'base.html' %}
{% block title %}{{ recipe.name }} | Cocktails{% endblock %}
{% block bodyclass %}recipe{% endblock %}

{% load recipe_extras %}

{% block content %}

<h1>{{ recipe.name }}</h1>

{% if recipe.source %}
	from {{ recipe.source }}
	<br />
	<br />
{% endif %}

{% if recipe.glass %}
	<span class="{{ recipe.glass.slug }}">
		{{ recipe.glass.name }}
	</span>
	glass
	<br />
	<br />
{% endif %}

<ul>
	{% for step in steps %}
		<li>
			{{ step.recipe_print|format_value }}
		</li>
	{% endfor %}
</ul>

{% endblock %}
