{% extends 'base.html' %}
{% block title %}&ldquo;{{ query }}&rdquo; | Cocktails{% endblock %}
{% block bodyclass %}search{% endblock %}

{% block content %}

<h2>Search: {{ query }}</h2>

{% if no_results %}
	No results found
{% endif %}

{% if recipe_res %}
	<h3>Recipes</h3>
	<ul>
		{% for result in recipe_res %}
			<li>
				<a href="{% url 'recipe_url' result.slug %}">
					{{ result.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if ingredient_res and recipe_res %}
	<br />
	<br />
{% endif %}

{% if ingredient_res %}
	<h3>Ingredients</h3>
	<ul>
		{% for result in ingredient_res %}
			<li>
				<a href="{% url 'ingredient_url' result.slug %}">
					{{ result.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% endblock %}
