{% extends 'base.html' %}
{% block title %}Cocktails{% endblock %}
{% block bodyclass %}index{% endblock %}

{% block content %}

<h2>Search</h2>

<form action="/search" method="get">
	<p>{{ search_form.as_p }}</p>
	<button type="submit">Submit</button>
</form>

<br />
<br />

<h2>Recipes</h2>

<ul>
	{% for recipe in recipes %}
		<li>
			<a href="{% url 'recipe_url' recipe.slug %}">
				{{ recipe.name }}
			</a>
		</li>
	{% endfor %}
</ul>

<br />
<br />

<h2>Browse by ingredient</h2>

<ul>
	{% for category in categories %}
		<li>
			<a href="{% url 'ingredient_category_url' category.slug %}">
				{{ category.name }}
			</a>
		</li>
	{% endfor %}
</ul>

<br />
<br />

<h2>Browse by source</h2>

<ul>
	{% for source in sources %}
		<li>
			<a href="{% url 'source_url' source.slug %}">
				{{ source.name }}
			</a>
		</li>
	{% endfor %}
</ul>

{% endblock %}
