{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}list{% endblock %}

{% block content %}

<div class="page-list-section">
	<h2 class="page-list-section-label">{{ title }}</h2>

	<ul class="page-list-section-content">
		{% for item in list_items %}
			<li>
				<a class="page-list-link" href="{{ item.get_absolute_url }}">
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<div class="page-list-section">
	<div class="page-list-section-end"></div>
</div>

{% endblock %}
