{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content %}

<form method="post" class="login-form" action="{% url 'login_url' %}">
    <div class="login-buttons">
        <div class="login-buttons-indicators">
            <div class="login-buttons-indicators-indicator"></div>
            <div class="login-buttons-indicators-indicator"></div>
            <div class="login-buttons-indicators-indicator"></div>
            <div class="login-buttons-indicators-indicator"></div>
        </div>
        {% for button in buttons %}
            {% if button.number != None %}
                <button
                    type="button"
                    value="{{button.number}}"
                    class="login-button {% if button.letters == '' %}centered{% endif %}"
                 >
                    <div class="login-button-number">{{ button.number }}</div>
                    <div class="login-button-letters">{{ button.letters }}</div>
                </button>
            {% else %}
                <div class="login-button-placeholder"></div>
            {% endif %}
        {% endfor %}
    </div>

    {% if error %}
        <p class="page-login-error">
            That is not a valid login. Please try again.
        </p>
    {% endif %}

    <input
        name="password"
        type="hidden"
        class="page-login-fieldset-input"
    />

    {% csrf_token %}
</form>

{% endblock %}
