{% extends 'base.html' %}
{% block title %}{{ recipe.name }} | Cocktails{% endblock %}
{% block bodyclass %}recipe{% endblock %}

{% load recipe_extras %}

{% block content %}

<div class="page-recipe-content">
	<h2 class="page-recipe-content-title">
		{{ recipe.name }}
	</h2>

	<ul class="page-recipe-content-steps">
		{% for step in steps %}
			<li>
				{{ step.recipe_print|format_value }}
			</li>
		{% endfor %}
	</ul>

	{% if recipe.directions %}
		<br />
		{{ recipe.directions }}
	{% endif %}

	{% if recipe.source %}
		<br />
		<br />
		from
		<a href="{% url 'source_url' recipe.source.slug %}">
			{{ recipe.source.name }}</a>
	{% endif %}

	{% if recipe.glass %}
		<br />
		<br />
		<span class="{{ recipe.glass.slug }}">
			{{ recipe.glass.name }}
		</span>
		glass
	{% endif %}
</div>

{% endblock %}
