{% extends 'base.html' %}
{% block title %}{{ recipe.name }} | Cocktails{% endblock %}
{% block bodyclass %}recipe{% endblock %}

{% load recipe_extras %}

{% block content %}

<div class="page-recipe-content">
	<h2 class="page-recipe-title">
		{{ recipe.name }}
	</h2>

	{% if recipe.source %}
		<div class="page-recipe-source">
			by
			<a class="page-recipe-source-link"
				href="{% url 'source_url' recipe.source.slug %}">
				{{ recipe.source.name }}</a>
		</div>
	{% endif %}

	<div class="page-recipe-separator"></div>

	<ul class="page-recipe-steps uninitialized">
		{% for step in steps_data %}
			{% include "_recipe_step.html" with step=step %}
		{% endfor %}
	</ul>

	{% if recipe.directions %}
		<div class="page-recipe-directions">
			{{ recipe.directions }}
		</div>
	{% endif %}

	{% if recipe.glass %}
		<div class="page-recipe-glass">
			<span class="page-recipe-glass-icon {{ recipe.glass.slug }}">
				{{ recipe.glass.name }}
			</span>
			{{ recipe.glass.name }} glass
		</div>
	{% endif %}

	<div class="quantity">
		<input class="quantity-input" name="quantity" type="text" value="1" />
		<div class="quantity-screen"></div>
		<button class="quantity-button quantity-button--decrement">
			<span class="quantity-button-text">-</span>
		</button>
		<button class="quantity-button quantity-button--increment">
			<span class="quantity-button-text">+</span>
		</button>
	</div>
</div>

{% endblock %}
