{% extends 'base.html' %}
{% block title %}Search | Cocktails{% endblock %}
{% block bodyclass %}search{% endblock %}

{% block content %}

<h2 class="page-search-title">Search: {{ query }}</h2>

<form class="page-search-form" action="/search" method="get">
	{{ search_form }}
	<button type="submit">Submit</button>
</form>

{% if form_error %}
	{{ form_error }}
{% endif %}

{% if no_results %}
	No results found
{% endif %}

{% if recipe_titles_res %}
	<div class="page-search-results">
		<h2>Recipes</h2>
		<ul>
			{% for result in recipe_titles_res %}
				<li>
					<a class="page-search-link"
							href="{% url 'recipe_url' result.slug %}">
						{{ result.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if recipe_ingredients_res %}
	<div class="page-search-results">
		<h2>Recipes with matching ingredients</h2>
		<ul>
			{% for result in recipe_ingredients_res %}
				<li>
					<a class="page-search-link"
							href="{% url 'recipe_url' result.slug %}">
						{{ result.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if ingredient_res %}
	<div class="page-search-results">
		<h2>Ingredients</h2>
		<ul>
			{% for result in ingredient_res %}
				<li>
					<a class="page-search-link"
							href="{% url 'ingredient_url' result.slug %}">
						{{ result.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% endblock %}
